@model IEnumerable<Biblioteca.Models.Livro>

<div class="content" style="text-align: center;">
    <h2 class="mb-2">Biblioteca do Portella</h2>
    <a href="/Home/Index" class="btn btn-primary">Voltar</a>
    <a asp-controller="Biblioteca" asp-action="Cadastrar" class="btn btn-success">Cadastrar Livros</a>
    <a asp-controller="Biblioteca" asp-action="SeedData" data-toggle="modal" data-target="#SeedData" class="btn btn-success">SeedData</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center" scope="col">#</th>
                <th scope="col">Título</th>
                <th class="text-center" scope="col">Autor</th>
                <th class="text-right" scope="col">Editora</th>
                <th class="text-center" scope="col">Total de Páginas</th>
                <th class="text-center" scope="col">Quantidade Total de Exemplares</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Livro livro in Model)
            {
                <tr>
                    <td>@livro.Id</td>
                    <td> @livro.Titulo</td>
                    <td>@livro.Autor</td>
                    <td>@livro.Editora</td>
                    <td>@livro.QuantidadeDePaginas</td>
                    <td>@livro.QuantidadeDeExemplares</td>
                    <td>
                        <a href="/Biblioteca/Editar/@livro.Id" class="btn btn-warning">Editar</a>
                        <button data-toggle="modal" data-target="#ExluirLivro" class="btn btn-danger">Excluir</button>
                    </td>
                </tr>

                <!-- The Modal -->
                <div class="modal" id="ExluirLivro">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                        <div class="modal-header">
                                <h4 class="modal-title">Excluir Livro</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                        <div class="modal-body">
                                <p>Tem certeza que deseja excluir este Livro?</p>
                            </div>
                            <!-- Modal footer -->
                        <div class="modal-footer">
                                <a href="/Biblioteca/Excluir/@livro.Id" class="btn btn-danger"
                                id="ExcluirLivroBtn">Excluir</a>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>


<!-- The Modal -->
<div class="modal" id="SeedData">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-header">
                <h4>Dados Semeados com Sucesso,</h4>
                <p>clique em Ok para Confirmar!</p>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <a asp-controller="Biblioteca" asp-action="SeedData" class="btn btn-primary text-center">Ok</a>
            </div>
        </div>
    </div>
</div>