@model IEnumerable<FuncionariosWA.Models.GFT>
@{
    Layout = "_LayoutAdmin";
}

<h2>Locais de Trabalho</h2>
<hr>
<a asp-controller="GFT" asp-action="Novo" class="btn btn-success btn-lg">Adicionar Local de Trabalho</a>
<a asp-controller="Wa" asp-action="Index" class="btn btn-primary float-right btn-lg">Voltar</a>
<hr>
<table class="table table-striped tavble-bordered" id="locaisdetrabalho">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CEP</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var local in Model) {
            <tr>
                <td>@local.Id</td>
                <td>@local.Nome</td>
                <td>@local.Cep</td>
                <td>@local.Endereco</td>
                <td>@local.Cidade</td>
                <td>@local.Estado</td>
                <td>
                    <a href="/GFT/Editar/@local.Id" class="btn btn-info">Editar</a>
                    <form asp-controller="GFT" asp-action="Excluir" style="display: inline;">
                        <input type="hidden" name="id" id="id" value="@local.Id">
                        <button class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready( function () {
        $('#locaisdetrabalho').DataTable({
            "info": false,
            "language": {
                "legthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "Nenhum Registro foi encontrado...",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum Registro Disponível",
                "search": "Buscar",
                "paginate": {
                    "first": "Primeira",
                    "last": "Última",
                    "next": "Próxima",
                    "previous": "Anterior"
                }
            }
        });
    } );
</script>