@model IEnumerable<PortellaMarket.Models.Fornecedor> //Tipo de dado sendo recebido
@{
    Layout = "_LayoutAdmin";
}

<h2>Fornecedores</h2>
<hr>
<a asp-controller="Gestao" asp-action="NovoFornecedor" class="btn btn-success">Criar Novo Fornecedor</a>
<a asp-controller="Gestao" asp-action="Index" class="btn btn-primary float-right btn-lg">Voltar</a>
<hr>
<table class="table table-striped tavble-bordered" id="fornecedores">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fornecedor in Model) {
            <tr>
                <td>@fornecedor.Id</td>
                <td>@fornecedor.Nome</td>
                <td>@fornecedor.Email</td>
                <td>@fornecedor.Telefone</td>
                <td>
                    <a href="/Gestao/EditarFornecedor/@fornecedor.Id" class="btn btn-info">Editar</a>
                    <form asp-controller="Fornecedores" asp-action="Excluir" style="display: inline;">
                        <input type="hidden" name="id" id="id" value="@fornecedor.Id">
                        <button class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready( function () {
        $('#fornecedores').DataTable({
            "info": false,
            "language": {
                "legthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "Nenhum Registro foi encontrado...",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum Registro Disponível",
                "search": "Buscar",
                "paginate": {
                    "first": "Primeira",
                    "last": "Última",
                    "next": "Próxima",
                    "previous": "Anterior"
                }
            }
        });
    } );
</script>